.button-income {
    text-align: right;
}

.button-budget {
    text-align: right;
}

#add-budget {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Text color */
    background-color: #dc3545; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#add-budget:hover {
    background-color: #c82333; /* Darker red for hover effect */
}

#add-budget:active {
    background-color: #bd2130; /* Even darker red for active effect */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#add-budget:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); /* Custom focus outline */
}

#add-other-income {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Text color */
    background-color: #dc3545; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#add-other-income:hover {
    background-color: #c82333; /* Darker red for hover effect */
}

#add-other-income:active {
    background-color: #bd2130; /* Even darker red for active effect */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#add-other-income:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); /* Custom focus outline */
}

/* General styles for the overlay */
.flash-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it's on top of other content */
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    width: auto; /* or set a specific width */
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease, top 0.5s ease; /* Smooth transition */
    opacity: 1; /* Fully visible */
}

/* Success message styling */
.flash-message.success {
    background-color: #28a745; /* Green background for success */
}

/* Error message styling */
.flash-message.error {
    background-color: #dc3545; /* Red background for error */
}

/* Animation for fading out the message */
.flash-message.fade-out {
    opacity: 0; /* Make it transparent */
    top: -50px; /* Move it up out of view */
}

.is-invalid {
    border-color: red; /* Change the border color to red */
}

.is-invalid:focus {
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Optional: Add a shadow to indicate error */
}

input.form-control.is-invalid {
    border-color: red !important;
}