.parent {
    width: 70%; /* Keep your existing width */
    margin: 1% auto 4% 32.4%; /* Adjust the left margin to nudge it right */
    padding: 10px;
    margin-left: 22.5%;
}

.dashboard-line-analytics-container {
    width: 55%; /* Increase the width to make it longer */
    margin: 4% auto; /* Center the container */
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-donut-analytics-container {
    width: 20%; /* You can adjust this too if you want to change the width of the donut chart */
    margin: 4% auto; /* Center the container */
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-line-analytics-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.chart-container {
    width: 100%;
    height: 300px; /* Adjust height */
    position: relative;
    margin-top: 20px;
}

.split {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -5%;
}
